.ndgp-sidebar {
  .ndgp-sidebar-logo {
    padding: 15px 50px;
    transition: .5s;
    img {
      margin: 0;
    }
  }
}
.sidebar-closed {
  .ndgp-sidebar {
    width: 0px;
    min-width: 0;
    .ndgp-sidebar-logo {
      padding: 15px;
      img {
        margin: 0;
        width: 100%;
      }
    }
    .ndgp-sidebar-menu {
      svg {
        margin-right: 0;
      }
      h4 {
        // display: none;  
      }
    }
  }
}